<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин ВСЯКИХ товаров на ваш вкус"</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>Главная страница</h1>
            </div>
            <div class="nav-links">
                <h3>
                  <a href="catalog">Перейти к просмотру товаров</a>
                    </h3>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Магазин товароавававававава. Все права не защищены.</p>
    </footer>

    <script src="/static/js/script.js"></script>
</body>
</html>